{:paths ["src" "resources"]
 :deps {com.taoensso/carmine {:mvn/version "3.4.1"}
        mount/mount {:mvn/version "0.1.20"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
