; https://github.com/grpc/grpc-proto/blob/master/grpc/service_config/service_config.proto
{:methodConfig
 [{:name [{:service "bankng.mucklet.Mucklet"}]
   :waitForReady true
   :timeout "60s"
   :retryPolicy {:maxAttempts 5
                 :initialBackoff "0.001s"
                 :maxBackoff "1s"
                 :backoffMultiplier 1.3
                 :retryableStatusCodes [:CANCELLED
                                        :UNKNOWN
                                        :DEADLINE_EXCEEDED
                                        :RESOURCE_EXHAUSTED
                                        :FAILED_PRECONDITION
                                        :ABORTED
                                        :INTERNAL
                                        :UNAVAILABLE
                                        :DATA_LOSS]}}]}
