{:deps
 {; build plugin resolution
  io.grpc/grpc-protobuf {:mvn/version "1.69.0"}}

 :aliases
 {:cljs
  {:extra-deps {; closure compiler unborking
                com.google.protobuf/protobuf-java {:mvn/version "3.25.5"}
                com.google.guava/guava {:mvn/version "32.1.2-jre"}

                org.clojure/clojurescript {:mvn/version "1.11.132"}
                thheller/shadow-cljs {:mvn/version "2.28.20"}
                poly/p-frontend {:local/root "projects/frontend"}
                poly/p-mucklet-proxy {:local/root "projects/mucklet-proxy"}}}

  :xtdb
  {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
              "-Dio.netty.tryReflectionSetAccessible=true"]}
  
  :otel
  {:jvm-opts ["-javaagent:target/opentelemetry-javaagent.jar"
              "-Dotel.exporter.otlp.protocol=grpc"
              "-Dotel.service.name=bankserver"
              "-Dotel.exporter.otlp.endpoint=http://localhost:4317"
              "-Dotel.logs.exporter=none"
              "-Dotel.metrics.exporter=none"
              "-Dtaoensso.telemere.otel-tracing=true"]}
  
  :dev
  {:extra-paths ["development/src" "development/resources"]
   :extra-deps {poly/grpc-server {:local/root "bases/grpc-server"}
                poly/mount {:local/root "bases/mount"}
                poly/log {:local/root "bases/log"}
                poly/mucklet-proxy {:local/root "bases/mucklet-proxy"}

                poly/codesender {:local/root "components/codesender"}
                poly/frontend-service {:local/root "components/frontend-service"}
                poly/pb-frontend {:local/root "components/pb-frontend"}
                poly/pb-mucklet {:local/root "components/pb-mucklet"}
                poly/proto-tools {:local/root "components/proto-tools"}
                poly/xtdb-inproc {:local/root "components/xtdb-inproc"}
                poly/accounts {:local/root "components/accounts"}
                poly/redis {:local/root "components/redis"}
                poly/jwt {:local/root "components/jwt"}
                poly/config {:local/root "components/config"}
                poly/grpc-auth {:local/root "components/grpc-auth"}
                poly/accounts-service {:local/root "components/accounts-service"}
                poly/iban {:local/root "components/iban"}
                poly/mucklet-bot {:local/root "components/mucklet-bot"}
                poly/mucklet-service {:local/root "components/mucklet-service"}
                poly/otel {:local/root "components/otel"}
                
                djblue/portal {:mvn/version "0.58.5"}
                com.github.gnl/playback {:mvn/version "0.5.4"}
                tolitius/mount-up {:mvn/version "0.1.3"}
                org.clojure/tools.namespace {:mvn/version "1.5.0"}
                io.grpc/grpc-inprocess {:mvn/version "1.69.0"}
                org.slf4j/slf4j-api {:mvn/version "2.0.16"}
                com.taoensso/telemere-slf4j {:mvn/version "1.0.0-RC2"}
                com.taoensso/telemere {:mvn/version "1.0.0-RC2"}
                org.clojure/core.async {:mvn/version "1.7.701"}
                org.clojure/clojure {:mvn/version "1.12.0"}
                com.xtdb/xtdb-core {:mvn/version "1.24.4"}}}

  :test
  {:extra-paths []}

  :poly
  {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
   :extra-deps {polylith/clj-poly {:git/url   "https://github.com/polyfy/polylith.git"
                                   :sha       "6ca059f206e7771c5b0173622673df9ef76d25ec"
                                   :deps/root "projects/poly"}}}
  
  :+default
  {}

  :build
  {:deps {poly/pb-frontend {:local/root "components/pb-frontend"}
          io.github.clojure/tools.build {:mvn/version "0.10.5"}
          org.clojure/tools.deps {:mvn/version "0.18.1349"}},
   :ns-default build}}}
