{:deps {:aliases [:cljs]}
 :dev-http {8020 "public"}
 #_#_ :nrepl {:middleware [playback.nrepl-middleware/refresh-on-eval] :port 9000}
 :builds
 {:frontend
  {:target :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main
    {:init-fn bankng.web-app.core/init}}
   :dev {:devtools
         {:reload-strategy :full
          :preloads [devtools.preload day8.re-frame-10x.preload.react-18]}
         :compiler-options
         {:pretty-print true
          :external-config {:guardrails {}
                            :devtools/config {:features-to-install [:formatters :hints]}}
          :closure-defines
          {bankng.pb-frontend.client.GRPC_API_FRONTEND "/"
           re-frame.trace.trace-enabled? true
           day8.re-frame.tracing.trace-enabled? true}}}}

  :mucklet-proxy
  {:target :node-script
   :output-to "target/mucklet-proxy-main.js"
   :main bankng.mucklet-proxy.core/init
   :compiler-options {:target :nodejs
                      :output-feature-set :es-next}
   :dev {:compiler-options
         {:pretty-print true
          :external-config {:guardrails {}}}}
   :release {:compiler-options
             {:optimizations :advanced
              :pretty-print false}}}}}
