{:paths ["src" "target/classes"]
 :deps {io.grpc/grpc-protobuf {:mvn/version "1.68.2"}
        io.grpc/grpc-services {:mvn/version "1.68.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
