{:paths ["src" "src/gen" "../../target/classes"]
 :deps {io.grpc/grpc-protobuf {:mvn/version "1.68.1"}
        io.grpc/grpc-services {:mvn/version "1.68.1"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
