{:paths ["src" "resources"]
 :deps {io.grpc/grpc-netty-shaded {:mvn/version "1.68.1"}
        mount/mount {:mvn/version "0.1.9"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
