{:paths ["src" "resources"]
 :deps {buddy/buddy-sign {:mvn/version "3.6.1-359"}
        buddy/buddy-core {:mvn/version "1.12.0-430"}
        mount/mount {:mvn/version "0.1.9"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
