{:paths []
 :deps {poly/web-app {:local/root "../../bases/web-app"}
        poly/web-routes {:local/root "../../components/web-routes"}
        poly/web-login {:local/root "../../components/web-login"}
        poly/web-common {:local/root "../../components/web-common"}
        poly/web-accounts {:local/root "../../components/web-accounts"}
        poly/web-db {:local/root "../../components/web-db"}
        poly/web-transfers {:local/root "../../components/web-transfers"}
        poly/pb-frontend {:local/root "../../components/pb-frontend"}
        poly/web-fx-grpc {:local/root "../../components/web-fx-grpc"}
        poly/web-fx-common {:local/root "../../components/web-fx-common"}
        
        reagent/reagent {:mvn/version "1.2.0"},
        re-frame/re-frame {:mvn/version "1.4.3"}
        metosin/reitit {:mvn/version "0.7.2"}
        kitchen-async/kitchen-async {:mvn/version "0.1.0-SNAPSHOT"}}

 :aliases
 {:test
  {:extra-paths []
   :extra-deps  {}}}}
