{:paths ["src" "resources"]
 :deps {io.grpc/grpc-core {:mvn/version "1.68.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.grpc/grpc-inprocess {:mvn/version "1.68.2"}}}}}
